/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import 'nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

#container{background-color:cadetblue;}
#container .test{position: absolute; left:50%; top:50%;}

.hide{display: none;}
.show{display: block;}

.listButton{background-color: white;}

.fast{border: 1px solid red;}
.fast .bottom{border-bottom: 5px solid blue; height:50%}
.fast .user{border-radius: 50%; width:180px; height:180px; border: 2px solid blue;
    background-color: red; position: absolute;}
.fast .btn{height:100px;}
.fast .user.v2{ border: 1px solid blue}

.pushBall{}
.pushBall .player{background-color:#4c7ece; color:#333;}
.pushBall .player.end{background-color:#333; color:#fff;}
.pushBall #ball{border-radius: 50%; background-color:red;}
.pushBall .stage{background-color:#fff7d3;}
.pushBall #refresh{position:absolute; left:50%; top:50%; width:50; heigth:50;}